html {
    font-size: 62.5%;
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
    
}

body {
    font-size: 1.4rem;
    font-family: "Montserrat", sans-serif;
    color: #111111;
    font-weight: 300;
    margin:0;
    line-height:1.2;
}

h1 {
    font-size: 5vw;
}

h2 {
    font-size: 3.2rem;
}

h3 {
    font-size: 2.8vw;
}

h4 {
    font-size: 2vw;
}

h5 {
    font-size: 1.8rem;
}

strong {
    font-weight: bold;
}

a{
    text-decoration: none;
    color: black;
}

/*--------------------------------
Header
--------------------------------*/

nav {
    height: 100px;
    /* background-color: blanchedalmond; */
    margin: 10px auto;
}

.sitelogo {
    width: 250px;
}

nav a {
    float: left;
}

.nav-page {
    font-weight: 400;
    font-size: 2rem;
    line-height: 100px;
    text-transform: uppercase;
    text-decoration: none;
    color: #111111;
    padding: 0 20px;
}

.nav-page:hover {
    transition: all 0.3s ease;
    background-color: #D7C79E;
}

.wrapper {
    float: right;
    padding: 20px 20px;
}


.wrapper button {
    font-size: 2.8rem;
    color: white;
    border: none;
    background-color: #caa08f;
    padding: 10px 10px;
    cursor: pointer;
    display: inline-block;
}
.wrapper button:hover{
    transition: all 0.3s ease;
    background-color: #ad7d6a;
}

.icon {
    display: none;
}

.fa fa-bars {
    color: black;
}

/*--------------------------------
Banner
--------------------------------*/

.container {
    position: relative;
    width: 100%;

}

.banner{
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 90%;
    height: auto;
    
}

.btn {
    position: absolute;
    top: 70%;
    left: 30%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #a38f69;
    color: #ffffff;
    font-size: 2vw;
    font-weight: bold;
    padding: 1.5vw 2.5vw;
    border: none;
    cursor: pointer;
}

.slogan {
    text-align: center;
    color: white;
    position: absolute;
    top: 40%;
    left: 30%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

/*-----------------------------
News & Blog
-----------------------------*/

.news {
    text-align: center;
    line-height: 20px;
    padding-top: 60px;

}

*, *:before, *:after {
    box-sizing: inherit;
}

.row{
    padding: 30px 50px 0 50px;
    margin-right: auto;
    margin-left: auto;
}

.column-3 {
    float: left;
    width: 33.33%;
    margin-bottom: 15px;
    padding: 0 8px;
}


/* Add some shadows to create a card effect */

.poster {
    box-shadow: 0 5px 9px 0 rgba(0, 0, 0, 0.2);
    background-color: #EAF0E0;
}

/* Some left and right padding inside the container */

.text-container {
    padding: 0 16px;
}

.text-container::after, .row::after {
    content: "";
    clear: both;
    display: table;
}

.title {
    color: grey;
}

.icon-more{
    display: block;
    text-align: center;
    font-size: 4vw;
    margin: 0 auto;
    color: #C2907D;
}

/*--------------------------------
Footer
--------------------------------*/
.footer-content{
    padding-top: 50px;
    text-align: center;

}

.social a{
    display: inline-block;
    padding: 0 20px;
    font-size: 25px;
}

.footer-bottom{
    overflow: hidden;
    background-color: #7a5a4e;
    line-height: 20px;
}

.footer-bottom p{
    padding: 10px 10px;
    display: inline;
    margin: 0;
    color: white;
}
.copyright{
    float: left;
}

.designer{
    float: right;
}

/*--------------------------------
About Us
--------------------------------*/
.rounded{
    border-radius: 50%;
}

.content-about{
    padding: 0 30px;
}

/*--------------------------------
Cloud Pets
--------------------------------*/
.page-title{
    text-align: center;
    padding: 20px;
}

.row-6{
    overflow: hidden;
    padding: 30px 100px 0 100px;
    margin-right: auto;
    margin-left: auto;
}

.column-6 {
    float: left;
    width: 20%;
    margin-bottom: 8px;
    padding: 8px;
}
.column-6 .poster{
    background-color: #ebdbb6da;
}

.all-adoption{
    display: block;
    
}

.icon-word{
    text-align: center;
    margin: 0;
    color: #74584d;
}

/*--------------------------------
Donation
--------------------------------*/
.row-2{
    padding: 30px 50px 0 50px;
    margin-right: auto;
    margin-left: auto;
}

.column-2{
    float: left;
    width: 50%;

}
.part1{
    background-color: aquamarine;
}
.form{
    background-color: burlywood;
}


